---
layout: main.njk
title: Funding | Wixonic
description: How to support my work and help me continue creating content. Find out how to donate, sponsor, or contribute to my projects.
styles:
- index.css
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<h1>Funding</h1>

	<p><b>Thank you for considering supporting my work!</b></p>

	<p>
		Money doesn't grow on trees, and neither does quality content!<br />
		If you want to support my projects, make a donation!
	</p>

	<p>
		<strong>IF YOU DO NO HAVE THE FINANCIAL RESOURCES TO DONATE, JUST DON'T!</strong><br />
		Please remember that the best way to support me is following my content and sharing it.<br />
		However, if you <strong>can</strong> and want to support me financially, <b>this is probably the best way</b> to do it!
	</p>

	<h2>Perks</h2>

	<p><strong>NOTE: all theses perks will soon be available on all platforms, but for now, they are only available in Discord.</strong></p>

	<ul>
		<li><b>Sneak Peeks & Early Access</b>: See the future. Get your eyes on drafts, wild ideas, and finished projects way before the general public even knows they exist.</li>
		<li><b>Voting Rights</b>: You call the shots! You'll have a direct say in my next moves.</li>
		<li><b>VIP Space</b>: Escape the noise. Join our secret headquarters to hang out and chat in a private, chill atmosphere.</li>
		<li><b>Supporter Role</b>: An exclusive role to show everyone that you're the reason this show is still running.</li>
	</ul>

	<p><i>All theses perks are available to all donors, regardless of the platform chosen, regardless of the amount donated, <b>in Discord</b>.</i></p>

	<a class="button" href="{{ path.links }}/funding/discord" target="_blank"><span class="icon" data-icon="discord" data-style="brand"></span> Donate on Discord</a>
	<a class="button" href="{{ path.links }}/funding/github" target="_blank"><span class="icon" data-icon="github" data-style="brand"></span> Donate with GitHub Sponsors</a>

	<p></p>

</main>

<footer>

	{% include "footer.njk" %}

</footer>