{% extends "main.njk" %}

{% block content %}

<main>

	This asset viewer is not ready yet!<br />
	If you want to see the content, please add /raw to the URL, like this: /raw/asset.ext

</main>

{% endblock %}