---
layout: main.njk
title: Assets Viewer | Wixonic
styles:
- /index.css
bodyAttributes: 'is-one-page-website="true"'
---

<main>

	<div class="canvas"></div>

	<aside>

		<div class="toolbox">

			<div class="name"></div>

			<div class="select files"></div>

			<div class="toolbox">

				<button class="website glow">Website</button>

				<button class="download glow">Download</button>

			</div>

		</div>

		<div class="description"></div>

	</aside>

	<div class="details glow"></div>

</main>