#activities #activityContainer activity.music {
	--color: #FFF;

	grid-template-columns: 4.5rem repeat(2, 5.35rem);
	grid-template-rows: 1.3rem repeat(2, 1rem) 0.8rem 0.4rem;

	background: linear-gradient(0deg, #FC3C44, #F94C57) content-box;
	box-shadow: 0 0.1rem 0.3rem #666;

	border-radius: 0.4rem;
}

#activities #activityContainer activity.music .title,
#activities #activityContainer activity.music .artists,
#activities #activityContainer activity.music .album {
	grid-column: 2 / 4;

	width: 100%;
	height: 100%;

	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;

	padding-left: 0.5rem;

	transform: translateY(-0.2em);
}

#activities #activityContainer activity.music .title {
	grid-row: 1;

	font-size: 0.9rem;
	font-weight: 700;

	margin-top: 0.3rem;
}

#activities #activityContainer activity.music .artists,
#activities #activityContainer activity.music .album {
	font-size: 0.7rem;
	font-weight: 400;
}

#activities #activityContainer activity.music .artists {
	grid-row: 2;

	opacity: 0.8;

	margin-top: 0.15rem;
}

#activities #activityContainer activity.music .album {
	grid-row: 3;

	opacity: 0.6;

	margin-top: 0.1rem;
}

#activities #activityContainer activity.music .thumbnail {
	grid-column: 1;
	grid-row: 1 / 6;

	width: 4.5rem;
	height: 4.5rem;
}

#activities #activityContainer activity.music .start,
#activities #activityContainer activity.music .end {
	grid-row: 4;

	font-size: 0.6rem;
	font-weight: 400;

	opacity: 0.4;

	transform: translateY(-0.2em);
}

#activities #activityContainer activity.music .start {
	grid-column: 2;

	text-align: left;

	margin-left: 0.5rem;
}

#activities #activityContainer activity.music .end {
	grid-column: 3;

	text-align: right;

	margin-right: 0.2rem;
}

#activities #activityContainer activity.music .bar {
	grid-column: 2 / 4;
	grid-row: 5;

	width: calc(100% - 0.7rem);
	height: calc(100% - 0.2rem);

	border: 0.01rem solid var(--color);
	border-radius: 0.2rem;

	margin: 0 0.2rem 0.2rem 0.5rem;
}

#activities #activityContainer activity.music .bar .innerBar {
	width: 0;
	height: 100%;

	background: var(--color);

	transition: width 1s ease-out;
}