---
layout: main.njk
title: Wixonic
description: Learn more about Wixonic.
styles:
- index.css
scripts:
- index.js
---

<header>

	{% include "header.njk" %}

	<nav>

		<a class="unlink" href="/events/">
			<img class="icon" src="{{ path.assets }}/icon/events.svg" alt="Events icon" />

			<div class="subtext">Events</div>
		</a>

		<a class="unlink" href="/news/">
			<img class="icon" src="{{ path.assets }}/icon/news.svg" alt="News icon" />

			<div class="subtext">News</div>
		</a>

		<a class="unlink" href="/projects/">
			<img class="icon" src="{{ path.assets }}/icon/projects.svg" alt="Projects icon" />

			<div class="subtext">Projects</div>
		</a>

		<a class="unlink" href="/about/">
			<img class="icon" src="{{ path.assets }}/icon/about.svg" alt="About icon" />

			<div class="subtext">About</div>
		</a>

	</nav>

</header>

<main>

	<section class="events">

		<h2>Events</h2>

		<div class="content">

			<article class="event loading unlink"></article>
			<article class="event loading unlink"></article>
			<article class="event loading unlink"></article>
			<article class="event loading unlink"></article>

		</div>

		<a id="view-more-events" class="button" href="/events/">View more</button>

	</section>

	<section class="news">

		<h2>News</h2>

		<div class="content">

			<article class="news loading unlink"></article>
			<article class="news loading unlink"></article>
			<article class="news loading unlink"></article>

		</div>

		<a id="view-more-news" class="button" href="/news/">View more</button>

	</section>

	<section class="projects">

		<h2>Projects</h2>

		<div class="content">

			<article class="project loading unlink"></article>
			<article class="project loading unlink"></article>
			<article class="project loading unlink"></article>
			<article class="project loading unlink"></article>
			<article class="project loading unlink"></article>

		</div>

		<article class="commits">

			<h3>Recent commits</h3>

			<div class="content">

				<a class="commit loading unlink"></a>
				<a class="commit loading unlink"></a>
				<a class="commit loading unlink"></a>

			</div>

			<a id="view-more-commits" class="button" href="{{ path.redirects }}/github/commits">All commits</a>

		</article>

		<a id="view-more-project" class="button" href="/projects/">All projects</button>

	</section>

	<section class="about">

		<h2>About Me</h2>

		<img class="avatar" src="{{ path.assets }}/avatar/transparent/512.webp" alt="Wixonic's current avatar" />

		<div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a suscipit felis, in semper metus. Proin molestie libero a vehicula condimentum. Nunc rutrum sagittis diam. In eleifend mollis laoreet. Vivamus tincidunt in ligula quis ullamcorper. Etiam eleifend laoreet maximus. Mauris iaculis nec elit in molestie. Etiam in luctus ante, eget interdum leo. Nullam vestibulum rutrum risus id commodo.</div>

	</section>

</main>

<footer>

	{% include "footer.njk" %}

</footer>