{% extends "main.njk" %}

{% block head %}
<link rel="stylesheet" href="/index.css" />
{% endblock %}

{% block overlayer %}

<div id="orientation-lock">

	<span>
		This website offers an immersive visual experience that requires a wider screen.<br /><br />
		Please rotate your device to landscape mode or increase your window size to continue.
	</span>

</div>

{% endblock %}

{% block content %}

<main>

	<video autoplay loop muted playsinline nocontrols></video>

	<div id="layer">

		<div id="screen"></div>

	</div>

</main>

{% endblock %}