---
layout: main.njk
title: Wixonic
description: Learn more about Wixonic.
styles:
- /index.css
bodyAttributes: 'is-one-page-website="true"'
---

<div id="orientation-lock">

	<span>
		This website offers an immersive visual experience that requires a wider screen.<br /><br />
		Please rotate your device to landscape mode or increase your window size to continue.
	</span>

</div>

<main>

	<video autoplay loop muted playsinline nocontrols></video>

	<div id="layer">

		<div id="screen"></div>

	</div>

</main>

{% include "footer.njk" %}