<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US">

	<head>

		<title>{{ title }}</title>
		<meta property="og:title" content="{{ title }}" />

		<meta charset="utf-8" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" />

		<meta name="author" content="Wixonic, contact@wixonic.fr" />
		<meta property="og:email" content="contact@wixonic.fr" />

		<meta name="description" content="{{ description }}" />
		<meta property="og:description" content="{{ description }}" />

		<meta name="robots" content="index,follow" />

		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		{% set absoluteUrl = page.url | cleanPath %}
		<meta rel="canonical" href="{{ absoluteUrl }}" />
		<meta property="og:url" content="{{ absoluteUrl }}" />

		<link rel="icon" type="image/svg+xml" href="{{ path.assets }}/icon/logo.svg" />
		<link rel="icon" sizes="any" type="image/svg+xml" href="{{ path.assets }}/icon/logo.svg" />

		<link rel="icon" type="image/png" sizes="1024x1024" href="{{ path.assets }}/icon/logo/round/1024.png" />
		<link rel="icon" type="image/png" sizes="512x512" href="{{ path.assets }}/icon/logo/round/512.png" />
		<link rel="icon" type="image/png" sizes="384x384" href="{{ path.assets }}/icon/logo/round/384.png" />
		<link rel="icon" type="image/png" sizes="256x256" href="{{ path.assets }}/icon/logo/round/256.png" />
		<link rel="icon" type="image/png" sizes="196x196" href="{{ path.assets }}/icon/logo/round/196.png" />
		<link rel="icon" type="image/png" sizes="144x144" href="{{ path.assets }}/icon/logo/round/144.png" />
		<link rel="icon" type="image/png" sizes="128x128" href="{{ path.assets }}/icon/logo/round/128.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="{{ path.assets }}/icon/logo/round/96.png" />
		<link rel="icon" type="image/png" sizes="64x64" href="{{ path.assets }}/icon/logo/round/64.png" />
		<link rel="icon" type="image/png" sizes="48x48" href="{{ path.assets }}/icon/logo/round/48.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="{{ path.assets }}/icon/logo/round/32.png" />
		<link rel="icon" type="image/png" sizes="24x24" href="{{ path.assets }}/icon/logo/round/24.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="{{ path.assets }}/icon/logo/round/16.png" />

		<link rel="apple-touch-icon" sizes="180x180" href="{{ path.assets }}/icon/logo/180.png" />
		<link rel="apple-touch-icon" sizes="167x167" href="{{ path.assets }}/icon/logo/167.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ path.assets }}/icon/logo/152.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ path.assets }}/icon/logo/120.png" />
		<link rel="apple-touch-icon" sizes="32x32" href="{{ path.assets }}/icon/logo/32.png" />

		<script>

			window.path = {{ path | json | safe }};

		</script>

		<link rel="stylesheet" href="/lib/404/index.css" />
		<script type="module" src="/lib/404/index.js"></script>

		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-Q6C79RDDZX");

			gtag("event", "exception", {
				"description": `404 - ${location.href}`,
				"fatal": false
			});
		</script>

	</head>

	<body>

		{% include "header.njk" %}

		<main>

			{{ content | safe }}

		</main>

		{% include "footer.njk" %}

	</body>

</html>