<footer>

	<div class="sitemap">

		<section>

			<h4>Wixonic</h4>

			<div class="content">

				<a href="{{ path.root }}">Page d'accueil</a>
				<a href="{{ path.redirects }}/discord" target="_blank">Serveur Discord</a>
				<a href="{{ path.redirects }}/patreon" target="_blank">Patreon</a>
				<a href="{{ path.redirects }}/youtube" target="_blank">YouTube</a>
				<a href="{{ path.redirects }}/github" target="_blank">GitHub Profile</a>

			</div>

		</section>

		<section>

			<h4>WixiLand</h4>

			<div class="content">

				<a href="{{ path.redirects }}/discord" target="_blank">Discord</a>
				<a href="{{ path.redirects }}/help" target="_blank">Assistance Discord</a>

			</div>

		</section>

		<section>

			<h4>KCMaths²</h4>

			<div class="content">

				<a href="{{ path.kcmaths }}" target="_blank">Aperçu</a>
				<a href="{{ path.kcmaths }}/leaderboard/" target="_blank">Classement</a>
				<a href="{{ path.kcmaths }}/files/" target="_blank">Fichiers</a>

			</div>

		</section>

	</div>

	<a href="{{ path.root }}/privacy/">Politique de confidentialité</a>

	<button class="cookie">Gérer les cookies</button>

</footer>