<nav>

	<a href="{{ path.root }}/contact">Contact</a>

	<hr />

	<a href="{{ path.links }}">Links</a>

</nav>

<nav class="right">

	<a href="{{ path.root }}/privacy">Privacy Policy</a>

	<hr />

	<a href="{{ path.root }}/terms">Terms of Service</a>

</nav>

<p class="copyright">Copyright &copy; 2022-2026 Wixonic</p>

<p class="license right">Licensed under the <a href="{{ path.root }}/license/nc/">Wixonic Non-Commercial License</a></p>