<a class="root unlink" href="{{ path.root }}">

	<img class="logo icon" src="{{ path.assets }}/raw/icon/logo/min.png" alt="Wixonic's logo" />

	<img class="text" src="{{ path.assets }}/raw/image/logo/text/min.png" alt="Wixonic" />

</a>