<a class="root unlink" href="/">

	<img class="logo icon" src="{{ path.assets }}/raw/icon/logo.png" alt="Wixonic's logo" />

	<img class="text" src="{{ path.assets }}/raw/image/logo/text.png" alt="Wixonic" />

</a>