---
layout: main.njk
title: Terms of Service | Wixonic
description: Our terms of service outline the rules and guidelines for using our website and services.
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<h1>Terms of Service</h1>

	<p>This website is currently under construction.</p>

</main>

<footer>

	{% include "footer.njk" %}

</footer>