.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	gap: 1rem;

	width: calc(100% - 2rem);
}

.grid .button {
	text-align: center;
}

.discord-theme {
	--theme-dark: hsl(235, 86%, 60%);
	--theme: hsl(235, 86%, 65%);
	--theme-light: hsl(235, 86%, 75%);
	--theme-text: hsl(234, 100%, 94%);
	--theme-border: hsl(235, 86%, 65%);
	--theme-border-subtle: hsl(235, 86%, 65%, 20%);
	--theme-shadow: hsla(235, 86%, 65%, 50%);
	--theme-shadow-subtle: hsla(235, 86%, 65%, 30%);
}

.youtube-theme {
	--theme-dark: hsl(348, 100%, 40%);
	--theme: hsl(348, 100%, 50%);
	--theme-light: hsl(348, 100%, 60%);
	--theme-text: hsl(0, 100%, 100%);
	--theme-border: hsl(348, 100%, 70%);
	--theme-border-subtle: hsl(348, 100%, 70%, 20%);
	--theme-shadow: hsl(348, 100%, 70%, 50%);
	--theme-shadow-subtle: hsl(348, 100%, 70%, 30%);
}

.github-theme,
.wakatime-theme {
	--theme-dark: hsl(135, 11%, 7%);
	--theme: hsl(140, 8%, 15%);
	--theme-light: hsl(140, 3%, 58%);
	--theme-text: hsl(140, 13%, 95%);
	--theme-border: hsl(140, 8%, 25%);
	--theme-border-subtle: hsl(140, 3%, 58%, 15%);
	--theme-shadow: hsl(136, 85%, 40%);
	--theme-shadow-subtle: hsl(136, 85%, 40%, 50%);
}

@media (prefers-color-scheme: dark) {
	.github-theme {
		--theme-shadow: hsl(136, 85%, 40%, 20%);
		--theme-shadow-subtle: hsl(136, 85%, 40%, 10%);
	}
}

.reddit-theme {
	--theme-dark: hsl(16, 100%, 40%);
	--theme: hsl(16, 100%, 50%);
	--theme-light: hsl(16, 100%, 60%);
	--theme-text: hsl(0, 0%, 100%);
	--theme-border: hsl(16, 100%, 75%);
	--theme-border-subtle: hsl(16, 100%, 75%, 20%);
	--theme-shadow: hsl(16, 100%, 50%, 50%);
	--theme-shadow-subtle: hsl(16, 100%, 50%, 30%);
}

.twitch-theme {
	--theme-dark: hsl(264, 100%, 54%);
	--theme: hsl(264, 100%, 64%);
	--theme-light: hsl(264, 100%, 74%);
	--theme-text: hsl(0, 0%, 100%);
	--theme-border: hsl(296, 100%, 90%);
	--theme-border-subtle: hsl(296, 100%, 90%, 20%);
	--theme-shadow: hsl(296, 100%, 85%, 30%);
	--theme-shadow-subtle: hsl(296, 100%, 85%, 10%);
}

.twitch-theme .icon {
	fill: hsl(0, 0%, 0%);
}

.wakatime-theme {
	--theme-shadow: hsl(0, 0%, 0%, 20%);
	--theme-shadow-subtle: hsl(0, 0%, 0%, 10%);
}