* {
	text-align: center;
}

body {
	margin: 0;
}

header {
	margin-bottom: 0.5rem;
}

header a {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 2rem;
	height: 2rem;

	background: var(--text);

	color: var(--background);
	font-size: 1.2rem;

	border-radius: 1rem;

	margin: 0.1rem;
	padding: 0.2rem;
}

header #logo {
	--size: 10rem;
	
	display: block;
	
	width: var(--size);
	height: var(--size);

	background: #FFF;
	
	border-radius: var(--size);
	
	margin: 5px auto;
}

section {
	display: block;

	width: 100%;

	padding: 0.5rem;
}

section[type="contrast"] {
	background: var(--background-contrast);
	
	color: #FFF;
}