* {
	text-align: center;
}

img {
	--size: 10rem;
	
	display: block;
	
	width: var(--size);
	height: var(--size);
	
	border-radius: var(--size);
	
	margin: 5px auto;
}

@media (prefers-color-scheme: dark) {
	img {
		fill: #FFF;
	}
}