@import url("https://rsms.me/inter/inter.css");

* {
	--background: #FFF;
	--background-contrast: #000;
	--background-element: #F3F3F8;
	--element: #E8E8EC;
	--text: #000;
	--text-contrast: #FFF;
	--blue: #06F;
	--green: #0F0;
	--orange: #FC0;
	--red: #F00;
	--gray: #BBB;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	
	box-sizing: border-box;
	outline: none;
	
	margin: 0;
	padding: 0;
}

body {
	background: var(--background);
	
	color: var(--text);
	font-family: "Inter", "Avenir Next", Avenir, Arial, Futura;
		
	margin: 0 0.5rem;
}

a {
	-webkit-touch-callout: default;
	
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background: var(--element);
	
	color: var(--text);
	font-size: 0.9rem;
	
	border: none;
	border-radius: 0.5rem;
	
	margin: 0.1rem;
	padding: 0.25rem 0.4rem;
	
	transition: background 0.5s, color 0.5s;
}

input {
	-webkit-user-select: text!important;
	-moz-user-select: text!important;
	-ms-user-select: text!important;
	user-select: text!important;
	
	background: var(--element);
	
	color: var(--text);
	font-size: 0.9rem;
	
	border: 0.08rem solid transparent;
	border-radius: 0.5rem;
	
	margin: 0.1rem;
	padding: 0.25rem 0.4rem;
	
	transition: background 0.5s, color 0.5s, border-color 0.5s;
}

input:focus {
	border-color: var(--text);
}

@media (prefers-color-scheme: dark) {
	* {
		--background: #000;
		--background-contrast: #444;
		--background-element: #222228;
		--element: #333335;
		--text: #FFF;
		--blue: #08F;
		--green: #0C0;
		--orange: #DA0;
		--gray: #666;
	}
}