---
layout: main.njk
title: About Me | Wixonic
description: Learn more about Wixonic.
---

<main>

	<h1>About Me</h1>

	<p>I'm Wix, an artist, web designer and developer.</p>



</main>

{% include "footer.njk" %}