---
layout: main.njk
title: About | Wixonic
description: Learn more about Wixonic.

styles:
- index.css
scripts:
- index.js
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<h1>About Me</h1>

	<p>Hi! I'm Wixonic (<a href="https://r12a.github.io/scripts/apps/ipa_analyser/index?q=wiks%C9%94nik" class="ipa stealth" lang="fr-fonipa" target="_blank" rel="noopener noreferrer">/wiksɔnik/</a>), a french web designer.</p>

	<h2>Favorites...</h2>

	<h3>TV Shows</h3>

	<div class="carousel shows">

		<div class="container"></div>

	</div>

	<p>Want to see all my favorites TV shows? Click below!</p>

	<a class="button primary" href="https://www.themoviedb.org/u/Wixonic/ratings/tv?sort_by=account_rating&sort_order=desc" target="_blank" rel="noopener noreferrer">TMDB Profile</a>

	<h3>Movies</h3>

	<div class="carousel movies">

		<div class="container"></div>

	</div>

	<p>Want to see all my favorites movies? Click below!</p>

	<a class="button primary" href="https://www.themoviedb.org/u/Wixonic/ratings/movie?sort_by=account_rating&sort_order=desc" target="_blank" rel="noopener noreferrer">TMDB Profile</a>

	<h3>Video Games</h3>

	<div class="carousel games">

		<div class="container"></div>

	</div>

	<h3>Songs</h3>

	<div class="carousel songs">

		<div class="container"></div>

	</div>

	<p>Want to see more? Click below!</p>

	<a class="button primary" href="https://music.apple.com/profile/wixonic" target="_blank" rel="noopener noreferrer">Apple Music Profile</a>

	<h3>Content Creators</h3>

	<div class="carousel creators">

		<div class="container"></div>

	</div>

</main>

<footer>

	{% include "footer.njk" %}

</footer>