.carousel {
	width: calc(100% - 0.2rem);

	background: transparent;

	border: 0.1rem solid transparent;
	border-radius: 1.5rem;

	padding: 1.5rem 0.5rem;

	transition: background 0.2s ease, border-color 0.2s ease;
}

.carousel:hover {
	background: hsl(var(--deep-background));

	border-color: hsla(var(--theme), 25%);
}

.carousel .container {
	display: flex;
	justify-content: start;
	gap: 1.25rem;

	width: 100%;

	border-radius: 1rem;

	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;

	mask-image: linear-gradient(90deg, transparent 0, black 1rem, black calc(100% - 1rem), transparent 100%);
	-webkit-mask-image: linear-gradient(90deg, transparent 0, black 1rem, black calc(100% - 1rem), transparent 100%);
}

.carousel .container::-webkit-scrollbar {
	display: none;
}

.carousel .element {
	scroll-snap-align: center;

	position: relative;

	border-radius: 0.2rem;

	overflow: hidden;

	cursor: pointer;

	transition: transform 0.2s ease;
}

.carousel .element:hover {
	transform: scale(0.98);
}

.carousel .element:first-child {
	margin-left: 1rem;
}

.carousel .element:last-child {
	margin-right: 1rem;
}

.carousel .element img {
	transition: filter 0.2s ease;
}

.carousel .element:hover img {
	filter: saturate(0.5) brightness(0.5);
}

.carousel.shows .element.show,
.carousel.movies .element.movie {
	position: relative;

	display: block;
	width: 10rem;
	height: fit-content;

	border-radius: 0.7rem;
}


.carousel.shows .element.show .poster,
.carousel.movies .element.movie .poster {
	width: 100%;
}

.carousel.shows .element.show .title,
.carousel.movies .element.movie .title {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;

	color: white;
	font-size: 1rem;
	font-weight: 800;
	text-align: center;

	padding: 1rem;

	z-index: 1;
}

.carousel.shows .element.show .title::before,
.carousel.movies .element.movie .title::before {
	content: "";

	position: absolute;
	inset: 0;

	background: hsla(0, 0%, 0%, 100%);
	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1em);

	mask-image: linear-gradient(0, black 0%, transparent 100%);
	-webkit-mask-image: linear-gradient(0, black 0%, transparent 100%);

	z-index: -1;
}