---
layout: accounts.njk
title: Verify Email | Wixonic
description: Sign in and manage your account for all wixonic.fr sub-domains.
robots: no
styles:
- index.css
scripts:
- index.js
---

<h2>Verifying...</h2>

<p>Currently processing your verification request...</p>

<a href="/">Go back to homepage</a>