---
layout: main.njk
title: Licenses | Wixonic
description: All Wixonic's licenses and their variations are listed here.
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<h1>Licenses</h1>

	<ul>

		<li><a href="/license/nc/">Non-Commercial License</a></li>

	</ul>

</main>

<footer>

	{% include "footer.njk" %}

</footer>