main {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 50rem;

	margin: 0 auto;
	padding: 0.8rem;
}

h1 {
	counter-reset: h2-counter h3-counter h4-counter;
}

h2 {
	counter-increment: h2-counter;
	counter-reset: h3-counter h4-counter;
}

h2::before {
	content: counter(h2-counter, upper-roman) ". ";
}

h3 {
	counter-increment: h3-counter;
	counter-reset: h4-counter;
}

h3::before {
	content: counter(h2-counter, upper-roman) ". " counter(h3-counter, decimal) ". ";
}

h4 {
	counter-increment: h4-counter;
}

h4::before {
	content: counter(h2-counter, upper-roman) ". " counter(h3-counter, decimal) ". " counter(h4-counter, upper-latin) ". ";
}

section {
	--section-background: transparent;
	--section-border-color: var(--text);
	--section-border-radius: 0.8rem;
	--section-background-border-radius: 0.4rem;

	display: block;

	position: relative;

	background: var(--background);

	border-radius: var(--section-border-radius);
	border: 0.2rem solid var(--section-border-color);

	margin: 2rem 0;
	padding: 0.8rem;
}

section::before {
	content: "";

	position: absolute;
	inset: 0.3rem;

	background: var(--section-background);

	border: 0.05rem solid var(--section-background);
	border-radius: var(--section-background-border-radius);
}

section::after {
	content: "Section";

	position: absolute;
	top: -0.8rem;
	left: 0.8rem;

	height: 0.9rem;

	background: var(--background);

	color: var(--section-border-color);
	font-size: 0.9rem;

	padding: 0 0.2rem;
}

section.comment,
section.warning,
section.important,
section.example {
	--section-border-radius: 0.8rem 0 0 0;
	--section-background-border-radius: 0.4rem 0 0 0;

	border-right: none;
	border-bottom: none;
}

section.definition {
	--section-background: #07F1;
	--section-border-color: #07F;
}

section.definition::after {
	content: "Definition";
}

section.notation {
	--section-border-color: #80F;
}

section.notation::after {
	content: "Notation";
}

section.comment {
	--section-border-color: #07F;
}

section.comment::after {
	content: "Comment";
}

section.proposition {
	--section-background: #F001;
	--section-border-color: #F00;
}

section.proposition::after {
	content: "Proposition";
}

section.theorem {
	--section-background: #A041;
	--section-border-color: #A04;
}

section.theorem::after {
	content: "Theorem";
}

section.lemma {
	--section-background: #F501;
	--section-border-color: #F50;
}

section.lemma::after {
	content: "Lemma";
}

section.warning {
	--section-background: #FA01;
	--section-border-color: #FA0;
}

section.warning::after {
	content: "Warning";
}

section.important {
	--section-background: #F0A1;
	--section-border-color: #F0A;
}

section.important::after {
	content: "Important";
}

section.methodology {
	--section-background: #0C01;
	--section-border-color: #0C0;
}

section.methodology::after {
	content: "Methodology";
}

section.proof {
	--section-background: #88F1;
	--section-border-color: #88F;
}

section.proof::after {
	content: "Proof";
}

section.example {
	--section-border-color: #0005;
	--section-border-radius: 0;

	border-top: none;
	border-right: none;
	border-bottom: none;
}

@media (prefers-color-scheme: dark) {
	section.example {
		--section-border-color: #FFF5;
	}
}

section.example::after {
	content: "Example:";
}

.loader {
	position: fixed;
	inset: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background: var(--background);
}

.loader .icon {
	width: 1rem;
	height: 1rem;

	background: var(--text);

	border-radius: 1rem;

	animation: bounce 0.4s linear infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0) scale(1.2, 0.8);
	}

	20% {
		transform: translateY(-0.3rem) scale(1, 1);
	}

	60% {
		transform: translateY(-1.6rem) scale(1, 1);
	}

	80% {
		transform: translateY(-1.9rem) scale(0.95, 1.05);
	}

	90% {
		transform: translateY(-1.95rem) scale(0.925, 1.075);
	}

	to {
		transform: translateY(-2rem) scale(0.9, 1.1);
	}
}

img {
	display: block;

	background: var(--background-front);

	max-height: 15rem;
	max-width: 100%;

	border: 0.05rem solid var(--background-deep);
	border-radius: 0.2rem;

	margin: 1rem;
}