separator {
	display: block;

	position: relative;

	width: 90%;
	height: 0.1rem;

	background: #8888;

	border-radius: 0.1rem;

	margin: 2rem auto;

	overflow: visible;

	z-index: 0;
}

separator::after {
	content: "OR";

	display: flex;
	justify-content: center;
	align-content: center;

	position: absolute;
	top: calc(50% - 0.75rem);
	left: calc(50% - 1rem);

	width: 2rem;
	height: 1.5rem;

	background: var(--background);

	color: #8888;

	z-index: 1;
}