---
layout: accounts.njk
title: Login | Wixonic
description: Login and manage your account for all wixonic.fr sub-domains.
styles:
- index.css
scripts:
- index.js
---

<form id="sign-in">

	<h1>Sign in</h1>

	<input type="email" id="sign-in_email" minlength="6" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required />

	<input type="password" id="sign-in_password" minlength="8" maxlength="32" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,32}$" required />

	<button type="submit" id="sign-in_submit" class="primary invalid">Submit</button>

	<button type="button" id="sign-in_switch" class="switchMode">Don't have an account?</button>

</form>

<form class="hidden" id="sign-up">
	<h1>Sign up</h1>

	<input type="email" id="sign-up_email" minlength="6" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required />

	<input type="password" id="sign-up_password" minlength="8" maxlength="32" title="8 to 32 characters, including at least one lowercase letter, one uppercase letter, one number, and one special character." pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,32}$" required />

	<input type="password" id="sign-up_confirm" minlength="8" maxlength="32" title="Must match the password exactly." pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,32}$" required />

	<button type="submit" id="sign-up_submit" class="primary invalid">Submit</button>

	<button type="button" id="sign-up_switch" class="switchMode">Already have an account?</button>

</form>