@import url("https://rsms.me/inter/inter.css");

a {
	color: unset;
	text-decoration: unset;
}

[dark] {
	display: none !important;
}

.glass {
	background: #8881;

	border: 0.05rem solid #CCC5;
	border-radius: 0.9rem;

	box-shadow: 0 0 2rem 0 #2222;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);

	margin: auto;
	padding: 0.7rem;
}

@media (prefers-color-scheme: dark) {
	[light] {
		display: none !important;
	}

	[dark] {
		display: block !important;
	}

	.glass {
		box-shadow: 0 0 0.8rem #8881;
		border-color: #AAA2;
	}
}