@import url("https://rsms.me/inter/inter.css");

a {
	color: unset;
	text-decoration: unset;
}

[dark] {
	display: none !important;
}

@media (prefers-color-scheme: dark) {
	[light] {
		display: none !important;
	}

	[dark] {
		display: block !important;
	}
}

.glass {
	background: #BBB3;

	border: 0.05rem solid #FFF3;
	border-radius: 0.7rem;

	box-shadow: 0 8px 32px 0 #2222;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);

	padding: 0.5rem;
}