body[model="course"] h1 {
	counter-reset: h2-counter h3-counter h4-counter;
}

body[model="course"] h2 {
	counter-increment: h2-counter;
	counter-reset: h3-counter h4-counter;
}

body[model="course"] h2::before {
	content: counter(h2-counter, upper-roman) ". ";
}

body[model="course"] h3 {
	counter-increment: h3-counter;
	counter-reset: h4-counter;
}

body[model="course"] h3::before {
	content: counter(h2-counter, upper-roman) ". " counter(h3-counter, decimal) ". ";
}

body[model="course"] h4 {
	counter-increment: h4-counter;
}

body[model="course"] h4::before {
	content: counter(h2-counter, upper-roman) ". " counter(h3-counter, decimal) ". " counter(h4-counter, upper-latin) ". ";
}

body[model="course"] section {
	--section-background: transparent;
	--section-border-color: var(--text);
	--section-border-radius: 0.8rem;
	--section-background-border-radius: 0.4rem;

	display: block;

	position: relative;

	background: var(--background);

	border-radius: var(--section-border-radius);
	border: 0.2rem solid var(--section-border-color);

	margin: 2rem 0;
	padding: 0.8rem;
}

body[model="course"] section::before {
	content: "";

	position: absolute;
	inset: 0.3rem;

	background: var(--section-background);

	border: 0.05rem solid var(--section-background);
	border-radius: var(--section-background-border-radius);
}

body[model="course"] section::after {
	content: "Section";

	position: absolute;
	top: -0.8rem;
	left: 0.8rem;

	height: 0.9rem;

	background: var(--background);

	color: var(--section-border-color);
	font-size: 0.9rem;

	padding: 0 0.2rem;
}

body[model="course"] section.comment,
body[model="course"] section.warning,
body[model="course"] section.important,
body[model="course"] section.example {
	--section-border-radius: 0.8rem 0 0 0;
	--section-background-border-radius: 0.4rem 0 0 0;

	border-right: none;
	border-bottom: none;
}

body[model="course"] section.definition {
	--section-background: #07F1;
	--section-border-color: #07F;
}

body[model="course"] section.definition::after {
	content: "Definition";
}

body[model="course"][lang="fr"] section.definition::after {
	content: "Définition";
}

body[model="course"] section.notation {
	--section-border-color: #80F;
}

body[model="course"] section.notation::after {
	content: "Notation";
}

body[model="course"] section.comment {
	--section-border-color: #07F;
}

body[model="course"] section.comment::after {
	content: "Comment";
}

body[model="course"][lang="fr"] section.comment::after {
	content: "Remarque";
}

body[model="course"] section.proposition {
	--section-background: #F001;
	--section-border-color: #F00;
}

body[model="course"] section.proposition::after {
	content: "Proposition";
}

body[model="course"] section.theorem {
	--section-background: #A041;
	--section-border-color: #A04;
}

body[model="course"] section.theorem::after {
	content: "Theorem";
}

body[model="course"][lang="fr"] section.theorem::after {
	content: "Théorème";
}

body[model="course"] section.lemma {
	--section-background: #F501;
	--section-border-color: #F50;
}

body[model="course"] section.lemma::after {
	content: "Lemma";
}

body[model="course"][lang="fr"] section.lemma::after {
	content: "Lemme";
}

body[model="course"] section.warning {
	--section-background: #FA01;
	--section-border-color: #FA0;
}

body[model="course"] section.warning::after {
	content: "Warning";
}

body[model="course"][lang="fr"] section.warning::after {
	content: "Attention";
}

body[model="course"] section.important {
	--section-background: #F0A1;
	--section-border-color: #F0A;
}

body[model="course"] section.important::after {
	content: "Important";
}

body[model="course"] section.methodology {
	--section-background: #0C01;
	--section-border-color: #0C0;
}

body[model="course"] section.methodology::after {
	content: "Methodology";
}

body[model="course"][lang="fr"] section.methodology::after {
	content: "Méthodologie";
}

body[model="course"] section.proof {
	--section-background: #88F1;
	--section-border-color: #88F;
}

body[model="course"] section.proof::after {
	content: "Proof";
}

body[model="course"][lang="fr"] section.proof::after {
	content: "Démonstration";
}

body[model="course"] section.example {
	--section-border-color: #0005;
	--section-border-radius: 0;

	border-top: none;
	border-right: none;
	border-bottom: none;
}

@media (prefers-color-scheme: dark) {
	body[model="course"] section.example {
		--section-border-color: #FFF5;
	}
}

body[model="course"] section.example::after {
	content: "Example:";
}

body[model="course"][lang="fr"] section.example::after {
	content: "Exemple:";
}