.facts {
	max-width: min(30rem, 95%);

	border: var(--border-m) solid var(--border-color);
	border-radius: var(--border-radius-m);

	margin: auto;
}

.facts.hidden {
	display: none;
}

.facts .title,
.facts .fact {
	width: 100%;

	padding: var(--margin-xxs);
}

.facts .title {
	background: var(--background-front);

	font-size: small;
	font-weight: bold;
}

.facts .fact {
	color: var(--text-muted);
	font-size: small;
}