---
layout: main.njk
title: Onion | Wixonic
description: Secure and anonymous file sharing platform.
styles:
- index.css
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<h1>Onion</h1>

	<p>Onion is a secure and anonymous file sharing platform that allows Discord users to share heavy files without Discord's file size limitations.</p>

	<p>Onion is part of the WixiBot ecosystem, and is available via the WixiBot application on Discord only.</p>

	<a class="button primary" href="{{ path.links }}/discord/application"><i class="icon" data-icon="discord" data-style="brand"></i> Get WixiBot</a>

	<h2>Privacy</h2>

	<p>If you are worried about privacy or security, the source code is available on GitHub.</p>

	<a class="button primary github" href="{{ path.links }}/github/WixiBot"><i class="icon" data-icon="github" data-style="brand"></i> WixiBot</a>
	<a class="button github" href="{{ path.links }}/github/Server"><i class="icon" data-icon="github" data-style="brand"></i> Server</a>
	<a class="button github" href="{{ path.links }}/github/Website"><i class="icon" data-icon="github" data-style="brand"></i> Website</a>

	<p>You should also consider checking our <a href="{{ path.root }}/privacy">Privacy Policy</a>.</p>

</main>

<footer>

	{% include "footer.njk" %}

</footer>