* {
	font-display: block;
	font-family: inherit;

	cursor: inherit;
	pointer-events: inherit;
	outline: inherit;

	box-sizing: border-box;

	--background: #FFF;
	--color: #000;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	user-select: inherit;
	-moz-user-select: inherit;
	-webkit-user-select: inherit;
}

@media (prefers-color-scheme: dark) {
	* {
		--background: #000;
		--color: #FFF;
	}
}

body {
	--header-size: 3rem;

	display: flex;
	justify-content: center;

	background: var(--background);

	color: var(--color);
	font-family: "Open Sans", arial, sans-serif;

	min-height: calc(100vh - var(--header-size));

	margin: var(--header-size) 0 0 0;

	cursor: default;
	outline: none;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

body * {
	overflow: hidden;
}

page {
	display: block;

	max-width: 50rem;
}

a {
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

a[valid="true"] {
	color: #06F;
}

a[valid="false"] {
	color: #C66;
}

a:hover {
	text-decoration: underline;
}