button {
	position: relative;

	background: transparent;

	font-size: 1rem;

	border: none;

	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	margin: 0.35em 0 0 0;
	padding: 0;
}

button .edge {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background: var(--theme-dark);

	border: 0.05em solid var(--theme-border-subtle);
	border-radius: 0.5em;

	z-index: -1;
}

button .content {
	display: block;

	position: relative;

	background: var(--theme);

	color: var(--theme-text);
	font-weight: 700;
	font-size: 1em;
	text-shadow: 0 0.05em 0 var(--theme-border);

	border: 0.05em solid var(--theme-border-subtle);
	border-radius: 0.5em;

	padding: 0.5em 1em;

	transform: translateY(-0.25em);

	transition: transform 0.6s cubic-bezier(0.3, 0.7, 0.4, 1);
}

button .shadow {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background: var(--theme-shadow-subtle);

	border-radius: 0.5em;

	filter: blur(0.08em);
	transform: translateY(0.1em);

	transition: transform 0.6s cubic-bezier(0.3, 0.7, 0.4, 1);
	will-change: transform;

	z-index: -2;
}

button:hover:not(:disabled) .content {
	transform: translateY(-0.3em);
	transition: transform 0.25s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active:not(:disabled) .content {
	transform: translateY(-0.1em);
	transition: transform 0.03s;
}

button:hover:not(:disabled) .shadow {
	transform: translateY(0.15em);
	transition: transform 0.25s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active:not(:disabled) .shadow {
	transform: translateY(0.05em);
	transition: transform 0.03s;
}

button:disabled:hover .content {
	transform: translateY(-0.3em);
	transition: transform 0.25s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:disabled:active .content {
	transform: translateY(-0.1em);
	transition: transform 0.03s;
}

button:disabled:hover .shadow {
	transform: translateY(0.15em);
	transition: transform 0.25s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:disabled:active .shadow {
	transform: translateY(0.05em);
	transition: transform 0.03s;
}