@font-face {
	font-family: "Open Sans";

	font-display: swap;
	font-style: normal;

	src: local("Open Sans"),
	url("{{ path.assets }}/raw/font/OpenSans/regular.woff2") format("woff2");
}

@font-face {
	font-family: "Open Sans";

	font-display: swap;
	font-style: italic;

	src: local("Open Sans"),
	url("{{ path.assets }}/raw/font/OpenSans/italic.woff2") format("woff2");
}

@font-face {
	font-family: "Rametto One";

	font-display: swap;
	font-style: normal;

	src: local("Rametto One"),
	url("{{ path.assets }}/raw/font/RamettoOne/regular.woff2") format("woff2");
}

@font-face {
	font-family: "VT323";

	font-display: swap;
	font-style: normal;

	src: local("VT323"),
	url("{{ path.assets }}/raw/font/VT323/regular.woff2") format("woff2");
}

h1,
h2 {
	margin-bottom: 0.5rem;
}

h1 {
	color: hsl(var(--theme));
	font-family: var(--title-font-family);
	font-size: 2.5rem;

	margin-top: 2rem;
}

h2 {
	font-size: 2.0rem;
	font-weight: 900;

	margin-top: 1.5rem;
}

h3,
h4 {
	font-weight: 800;

	margin-top: 0.5rem;
}

h3 {
	font-size: 1.5rem;

	margin-bottom: 0.3rem;
}

h4 {
	font-size: 1.25rem;

	margin-bottom: 0.2rem;
}

.ipa {
	pointer-events: text;
	-webkit-user-select: text;
	user-select: text;
}