.glow {
	position: relative;

	transition: transform 0.4s cubic-bezier(0.3, 0.7, 0.4, 1);
}

.glow:hover {
	transform: translateY(-0.15em) scale(1.01);
}

.glow::after {
	content: "";
	
	position: absolute;
	inset: 0;

	border-radius: inherit;
	
	backdrop-filter: brightness(115%);
	
	mask-image: radial-gradient(circle 5rem at var(--x, 50%) var(--y, 50%), black 0%, transparent 100%);
	
	opacity: 0;
	
	transition: opacity 0.3s ease;

	z-index: 1;
}

.glow:hover::after {
	opacity: 1;
}

/* Fix glow effect on buttons */
button.glow {
	transform: none !important;
}

button.glow:hover {
	transform: none !important;
}

button.glow::after {
	display: none;
}

button.glow .content::after,
button.glow .edge::after {
	content: "";
	
	position: absolute;
	inset: 0;

	border-radius: inherit;
	
	backdrop-filter: brightness(115%);
	
	mask-image: radial-gradient(circle 5rem at var(--x, 50%) var(--y, 50%), black 0%, transparent 100%);
	
	opacity: 0;
	
	transition: opacity 0.3s ease;

	pointer-events: none;
	z-index: 10;
}

/* Compensate for .content being translated vertically earlier */
button.glow .content::after {
	mask-image: radial-gradient(circle 5rem at var(--x, 50%) calc(var(--y, 50%) + 0.25em), black 0%, transparent 100%);
}

button.glow:hover .content::after {
	mask-image: radial-gradient(circle 5rem at var(--x, 50%) calc(var(--y, 50%) + 0.3em), black 0%, transparent 100%);
}

button.glow:active .content::after {
	mask-image: radial-gradient(circle 5rem at var(--x, 50%) calc(var(--y, 50%) + 0.1em), black 0%, transparent 100%);
}

button.glow:hover .content::after,
button.glow:hover .edge::after {
	opacity: 1;
}