a {
	display: inline-block;

	position: relative;

	color: var(--text);
	text-decoration: none;

	cursor: pointer;

	transition: color 0.4s cubic-bezier(0.3, 0.7, 0.4, 1);
}

a:hover {
	color: var(--theme);
}

a:not(.button)::before,
a:not(.button)::after {
	content: "";

	display: inline;

	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 0.1em;

	border: none;
	border-radius: 0.1em;
}

a:not(.button)::before {
	background: var(--theme-dark);

	opacity: 0.3;
}

a:not(.button)::after {
	background: var(--theme);

	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: transform 0.4s cubic-bezier(0.3, 0.7, 0.4, 1);
}

a:not(.button):hover::after {
	transform: scaleX(1);
}



@media (prefers-color-scheme: dark) {
	a:hover {
		color: var(--theme-light);
	}

	a:not(.button)::before {
		background: var(--theme-light);
	}

	a:not(.button)::after {
		background: var(--theme-light);
	}
}