section {
	width: min(50rem, calc(100% - 2rem));

	margin: 1rem auto;
	padding: 1rem;
}

section.card {
	--glow-brightness: 105%;
	--glow-saturation: 100%;

	background: var(--background-front);
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 0.5rem var(--shadow-subtle);
}

.toolbar {
	display: flex;
	gap: 1rem;
}