---
layout: main.njk
title: Contact | Wixonic
description: Find help or contact me.
styles:
- index.css
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<section class="emergency">

		<div class="title">Emergency</div>

		<div class="toolbar vertical">

			<div class="toolbar">

				<a id="emergency-112" href="tel:112" class="button primary">Call 112</a>
				<a id="emergency-911" href="tel:911" class="button primary">Call 911</a>

			</div>

			<a id="emergency-emotional" href="https://findahelpline.com" class="button primary" target="_blank" rel="noopener noreferrer">Free emotional support</a>

		</div>

		<p>Find your local emergency services on <a id="emergency-list" href="https://en.wikipedia.org/wiki/List_of_emergency_telephone_numbers" target="_blank" rel="noopener noreferrer">Wikipedia</a>.</p>

	</section>

	<section>

		<h1>Need help?</h1>

		<p>You can <a href="{{ path.links }}/help/discord" target="_blank">create a ticket on Discord</a>.</p>

		<p>If you prefer to contact me another way, you can <a href="mailto:contact@wixonic.fr">send me an email</a>.</p>

		<p>If you have privacy concerns, you can send me an email at <a href="mailto:privacy@wixonic.fr">this privacy email address</a>.</p>

	</section>

</main>

<footer>

	{% include "footer.njk" %}

</footer>