@font-face {
	font-family: "Mona Sans";

	font-display: swap;
	font-style: normal;

	src: local("Mona Sans"),
	url("{{ path.assets }}/raw/font/MonaSans/semi-bold.woff2") format("woff2");
}

@font-face {
	font-family: "Reddit Sans Chocolate";

	font-display: swap;
	font-style: normal;

	src: local("Reddit Sans Chocolate"),
	url("{{ path.assets }}/raw/font/RedditSansChocolate/extra-bold.woff2") format("woff2");
}

body {
	overflow: hidden;
}

main {
	position: absolute;
	inset: 0;

	display: flex;
	flex-direction: column;

	width: 100vw;
	max-width: unset;
	height: 100vh;

	background: transparent;

	margin: 0;
	padding: 0;

	overflow-y: scroll;
	scroll-snap-type: y proximity;

	scrollbar-width: none;
	-ms-overflow-style: none;
}

main::-webkit-scrollbar {
	display: none;
}

main>* {
	display: flow-root;

	max-width: 70rem !important;

	scroll-snap-align: center;

	opacity: 0.7;

	transform: scale(0.95);

	transition: opacity 0.3s var(--default-transition-function), transform 0.3s var(--default-transition-function);

	margin: 0 auto;
}

main>*.active {
	opacity: 1;

	transform: scale(1);
}

main>* picture,
main>* img {
	display: flow-root;

	width: 100%;
	height: auto;
	aspect-ratio: 2 / 1;
}

.button:hover {
	background: hsl(var(--deep-background));
}

nav.other {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: auto;
	aspect-ratio: 2 / 1;
}

nav.other .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.85rem;

	width: 100%;
}

nav.other .separator {
	font-weight: 300;

	opacity: 0.5;

	margin: 0 0.2rem;
}

nav.other .button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: fit-content;
	height: fit-content;

	font-size: 1.1rem;

	height: 3.4rem;
}

nav.other .button .icon {
	font-size: 1.5rem;
}

nav.other .button i {
	margin: 0 0.3em;
}

nav.other .button.youtube {
	--theme: 348, 100%, 50%;
}

nav.other .button.youtube .separator {
	margin-left: 0.1rem;
}

nav.other .button.github {
	--theme: 135, 11%, 7%;

	font-family: "Mona Sans", var(--font-family);
}

nav.other .button.wakatime {
	--theme: 223, 70%, 4%;
}

nav.other .button.osu {
	--theme: 333, 100%, 70%;
}

nav.other .button.reddit {
	--theme: 16, 100%, 50%;

	font-family: "Reddit Sans Chocolate", var(--font-family);
}

nav.other .button.reddit .separator {
	margin-right: 0;
}

nav.other .button.twitch {
	--theme: 264, 100%, 64%;
}

footer {
	display: none;
}

@media (max-width: 45rem) {
	body {
		padding-bottom: 0;
	}

	main>* {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 65vh;

		background: var(--background);
	}
}