body {
	overflow: hidden;
}

main {
	position: absolute;
	inset: 0;

	display: flex;
	flex-direction: column;

	width: 100vw;
	max-width: unset;
	height: 100vh;

	margin: 0;
	padding: 0;

	overflow-y: scroll;
	scroll-snap-type: y mandatory;

	scrollbar-width: none;
	-ms-overflow-style: none;
}

main::-webkit-scrollbar {
	display: none;
}

main>* {
	display: block;

	width: 100%;
	max-width: 70rem !important;

	scroll-snap-align: center;

	opacity: 0.7;

	transform: scale(0.95);

	transition: opacity 0.5s cubic-bezier(0.25, 0, 0.1, 1), transform 0.5s cubic-bezier(0.25, 0, 0.1, 1);

	margin: 0 auto;
}

main>*.active {
	opacity: 1;

	transform: scale(1);
}

main>* img {
	width: 100%;
}

footer {
	height: fit-content !important;
	opacity: 1 !important;
}

@media (max-width: 45rem) {
	body {
		padding-bottom: 0;
	}

	main>* {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 65vh;

		background: var(--background);
	}
}