---
layout: main.njk
title: Links | Wixonic
description: All links and redirects to Wixonic's products, services, resources, and social media channels.
styles:
- index.css
scripts:
- index.js
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<a id="website" href="{{ path.root }}" target="_blank">

		<img src="{{ path.assets }}/raw/image/link/website.min.png" alt="Website" />

	</a>

	<a id="discord" href="/discord" target="_blank">

		<img src="{{ path.assets }}/raw/image/link/discord.min.png" alt="Discord" />

	</a>

	<footer>

		{% include "footer.njk" %}

	</footer>

</main>