---
layout: main.njk
title: Links | Wixonic
description: All links to Wixonic's products, services, resources, and social media channels.
styles:
- index.css
scripts:
- index.js
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<a id="website" class="unlink" href="{{ path.root }}" target="_blank">

		<picture>

			<source media="(min-width: 1025px)" srcset="{{ path.assets }}/raw/image/link/website.webp" />

			<img src="{{ path.assets }}/raw/image/link/website.min.webp" alt="Website" width="2048" height="1024" />

		</picture>

	</a>

	<a id="discord" class="unlink" href="/discord" target="_blank">

		<picture>

			<source media="(min-width: 1025px)" srcset="{{ path.assets }}/raw/image/link/discord.webp" />

			<img src="{{ path.assets }}/raw/image/link/discord.min.webp" alt="Discord" width="2048" height="1024" />

		</picture>

	</a>

	<nav class="other">

		<div class="container">

			<a class="button primary" href="{{ path.links }}/funding" target="_blank"><span class="icon" data-icon="tip-jar" data-style="fill"></span><span class="separator"></span>Funding</a>

			<a class="button" href="{{ path.links }}/funding/discord" target="_blank"><span class="icon" data-icon="tip-jar" data-style="fill"></span><span class="separator"></span>Funding <i>but on Discord</i></a>

			<a class="button" href="{{ path.links }}/funding/github" target="_blank"><span class="icon" data-icon="tip-jar" data-style="fill"></span><span class="separator"></span>Funding <i>but on GitHub</i></a>

		</div>

		<div class="container">

			<a class="button" href="{{ path.links }}/about" target="_blank"><span class="icon" data-icon="shirt-folded" data-style="fill"></span><span class="separator"></span>About Me</a>

			<a class="button" href="{{ path.links }}/contact" target="_blank"><span class="icon" data-icon="address-book" data-style="fill"></span><span class="separator"></span>Contact Me</a>

		</div>

		<div class="container">

			<a class="button primary youtube" href="{{ path.links }}/youtube" target="_blank"><span class="icon" data-icon="youtube" data-style="brand"></span><span class="separator">/</span>@Wixonic</a>

			<a class="button primary github" href="{{ path.links }}/github" target="_blank"><span class="icon" data-icon="github" data-style="brand"></span><span class="separator">-</span>Wixonic</a>

			<a class="button primary wakatime" href="{{ path.links }}/wakatime" target="_blank"><span class="icon" data-icon="wakatime" data-style="brand"></span><span class="separator">-</span>@Wixonic</a>

			<a class="button primary reddit" href="{{ path.links }}/reddit" target="_blank"><span class="icon" data-icon="reddit" data-style="brand"></span><span class="separator">u/</span>Wixonic12</a>

			<a class="button primary osu" href="{{ path.links }}/osu" target="_blank"><span class="icon" data-icon="osu" data-style="brand"></span><span class="separator">-</span>Wixonic</a>

			<a class="button primary twitch" href="{{ path.links }}/twitch" target="_blank"><span class="icon" data-icon="twitch" data-style="brand"></span><span class="separator"> -</span>Wixonic</a>

			<a class="button" href="{{ path.links }}/gravatar" target="_blank"><span class="icon"></span>Gravatar</a>

		</div>

	</nav>

</main>

<footer>

	{% include "footer.njk" %}

</footer>