@import url("/lib/main.css");

.button.signout {
	position: absolute;
	top: 0;
	right: 0.5rem;

	--secondary-background: transparent;

	border-radius: 0;
}

.button.signout:hover {
	--color: #F00;
}

.button.discord {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button.discord:hover {
	--current-underline-color: #5865F2;
}

.button.discord svg {
	height: 1rem;

	margin-left: 0.5rem;
}