---
layout: main.njk
title: Privacy Policy | Wixonic
description: Our privacy policy is designed to protect your privacy, because privacy is a fundamental human right.
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<h1>Privacy Policy</h1>

	<p>This website is currently under construction. Come back later!</p>

</main>

<footer>

	{% include "footer.njk" %}

</footer>