---
layout: main.njk
title: "Privacy Policy | Wixonic"
description: "Our privacy policy is designed to protect your privacy, because privacy is a fundamental human right."
---

<main>



</main>

{% include "footer.njk" %}