---
layout: main.njk
title: Help | Wixonic
description: Learn more how to contact me.
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<section class="emergency">

		<h1>Emergency</h1>

		<div class="toolbar">

			<div class="toolbar">

				<a href="tel:112" class="button danger">Call 112</a>
				<a href="tel:911" class="button danger">Call 911</a>

			</div>

			<a href="https://findahelpline.com" class="button danger" target="_blank" rel="noopener noreferrer">Free emotional support</a>

		</div>

		<p>Find your local emergency services on <a href="https://en.wikipedia.org/wiki/List_of_emergency_telephone_numbers" target="_blank" rel="noopener noreferrer">Wikipedia</a>.</p>

	</section>

	<section>

		<h1>Need help?</h1>

		<p>If you need to contact me, you can <a href="https://go.wixonic.fr/help/discord" target="_blank">create a ticket on Discord</a>.</p>

		<p>If you prefer to contact me another way, you can <a href="mailto:contact@wixonic.fr">send me an email</a>.</p>

		<p>If you need to contact me about privacy concerns, you can send me an email at <a href="mailto:privacy@wixonic.fr">this privacy email address</a>.</p>

	</section>

</main>

<footer>

	{% include "footer.njk" %}

</footer>