@import url("/style/banner.css");
@import url("/style/button.css");
@import url("/style/font.css");

body {
	/* COLORS */
	--background-deep: hsl(0, 0%, 100%);
	--background-deep-seethrough: hsla(0, 0%, 100%, 80%);
	--background: hsl(0, 0%, 95%);
	--background-seethrough: hsla(0, 0%, 95%, 80%);
	--background-front: hsl(0, 0%, 90%);
	--background-front-seethrough: hsla(0, 0%, 90%, 80%);

	--text: hsl(0, 0%, 5%);

	--theme-primary-dark: hsl(241, 80%, 45%);
	--theme-primary: hsl(241, 100%, 60%);
	--theme-primary-shadow-light: hsl(241, 100%, 80%);
	--theme-primary-text: hsl(241, 100%, 95%);
	--theme-primary-shadow-light: hsl(241, 100%, 85%);

	--theme-danger: hsl(0, 100%, 60%);
	--theme-danger-text: hsl(0, 0%, 100%);
	/* COLORS */

	/* FONT */
	--font-family: "Open Sans", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Helvetica Neue", Arial, sans-serif;
	--pixelized-font-family: "VT323", ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
	/* FONT */
}

@media (prefers-color-scheme: dark) {
	body {
		/* COLORS */
		--background-deep: hsl(0, 0%, 5%);
		--background-deep-seethrough: hsla(0, 0%, 5%, 80%);
		--background: hsl(0, 0%, 10%);
		--background-seethrough: hsla(0, 0%, 10%, 80%);
		--background-front: hsl(0, 0%, 15%);
		--background-front-seethrough: hsla(0, 0%, 15%, 80%);

		--background-transparent: hsla(0, 0%, 10%, 75%);

		--background-selection: hsl(0, 0%, 100%);

		--text: hsl(0, 0%, 95%);
		--text-muted: hsl(0, 0%, 70%);

		--text-selection: hsl(0, 0%, 0%);
		/* COLORS */
	}
}

* {
	flex-shrink: 0;

	color: inherit;
	font-family: inherit;

	box-sizing: border-box;

	-webkit-appearance: none;
	appearance: none;

	cursor: inherit;
	caret-color: inherit;
	pointer-events: inherit;
	outline: none;

	scrollbar-color: inherit;

	-webkit-user-select: inherit;
	user-select: inherit;
}

body {
	position: relative;

	background: var(--background);

	color: var(--text);
	font-family: var(--font-family);

	cursor: default;

	-webkit-user-select: none;
	user-select: none;

	margin: 0;
	padding: 0;

	overflow: hidden;
}

noscript,
#orientation-lock,
#fatal-error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: var(--background);

	color: var(--text);
	text-align: center;

	padding: var(--margin-xxl);

	z-index: 1000;
}

noscript span,
#orientation-lock span,
#fatal-error span {
	max-width: max(50rem, 95%);

	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.6;
}

@media (orientation: landscape) {
	#orientation-lock {
		display: none;
	}
}

.hidden {
	display: none !important;
}