@import url("/style/banner.css");
@import url("/style/button.css");
@import url("/style/font.css");
@import url("/style/glow.css");

body {
	/* COLORS */
	--background-deep: hsl(0, 0%, 100%);
	--background-deep-seethrough: hsla(0, 0%, 100%, 80%);
	--background: hsl(0, 0%, 95%);
	--background-seethrough: hsla(0, 0%, 95%, 80%);
	--background-front: hsl(0, 0%, 90%);
	--background-front-seethrough: hsla(0, 0%, 90%, 80%);

	--text: hsl(0, 0%, 5%);

	--theme-dark: hsl(0, 0%, 80%);
	--theme: hsl(0, 0%, 85%);
	--theme-light: hsl(0, 0%, 90%);
	--theme-text: var(--text);
	--theme-border: hsla(0, 0%, 80%, 25%);
	--theme-border-subtle: hsla(0, 0%, 80%, 5%);
	--theme-shadow: hsla(0, 0%, 0%, 15%);
	--theme-shadow-subtle: hsla(0, 0%, 0%, 5%);

	--theme-primary-dark: hsl(241, 80%, 45%);
	--theme-primary: hsl(241, 100%, 60%);
	--theme-primary-light: hsl(241, 100%, 80%);
	--theme-primary-text: hsl(241, 100%, 95%);
	--theme-primary-border: hsla(241, 100%, 80%, 25%);
	--theme-primary-border-subtle: hsla(241, 100%, 80%, 5%);
	--theme-primary-shadow: hsla(241, 100%, 45%, 25%);
	--theme-primary-shadow-subtle: hsla(241, 100%, 45%, 15%);

	--theme-danger-dark: hsl(0, 100%, 40%);
	--theme-danger: hsl(0, 100%, 60%);
	--theme-danger-light: hsl(0, 100%, 80%);
	--theme-danger-text: hsl(0, 100%, 95%);
	--theme-danger-border: hsla(0, 100%, 80%, 25%);
	--theme-danger-border-subtle: hsla(0, 100%, 80%, 5%);
	--theme-danger-shadow: hsla(0, 100%, 50%, 30%);
	--theme-danger-shadow-subtle: hsla(0, 100%, 50%, 20%);

	--theme-success-dark: hsl(120, 100%, 25%);
	--theme-success: hsl(120, 100%, 35%);
	--theme-success-light: hsl(120, 100%, 45%);
	--theme-success-text: hsl(120, 100%, 95%);
	--theme-success-border: hsla(120, 100%, 80%, 15%);
	--theme-success-border-subtle: hsla(120, 100%, 80%, 5%);
	--theme-success-shadow: hsla(120, 100%, 40%, 30%);
	--theme-success-shadow-subtle: hsla(120, 100%, 40%, 20%);
	/* COLORS */

	/* FONT */
	--font-family: "Open Sans", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Helvetica Neue", Arial, sans-serif;
	--pixelized-font-family: "VT323", ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
	/* FONT */
}

@media (prefers-color-scheme: dark) {
	body {
		/* COLORS */
		--background-deep: hsl(0, 0%, 5%);
		--background-deep-seethrough: hsla(0, 0%, 5%, 80%);
		--background: hsl(0, 0%, 10%);
		--background-seethrough: hsla(0, 0%, 10%, 80%);
		--background-front: hsl(0, 0%, 15%);
		--background-front-seethrough: hsla(0, 0%, 15%, 80%);

		--text: hsl(0, 0%, 95%);

		--theme-dark: hsl(0, 0%, 10%);
		--theme: hsl(0, 0%, 15%);
		--theme-light: hsl(0, 0%, 20%);
		--theme-border: hsla(0, 0%, 20%, 25%);
		--theme-border-subtle: hsla(0, 0%, 20%, 5%);
		--theme-shadow: hsla(0, 0%, 0%, 35%);
		--theme-shadow-subtle: hsla(0, 0%, 0%, 20%);

		--theme-primary-shadow: hsla(241, 100%, 60%, 60%);
		--theme-primary-shadow-subtle: hsla(241, 100%, 60%, 40%);

		--theme-danger-shadow: hsla(0, 100%, 70%, 30%);
		--theme-danger-shadow-subtle: hsla(0, 100%, 70%, 20%);

		--theme-success-shadow: hsla(120, 100%, 30%, 30%);
		--theme-success-shadow-subtle: hsla(120, 100%, 30%, 20%);
		/* COLORS */
	}
}

/* THEMES */
.primary {
	--theme-dark: var(--theme-primary-dark);
	--theme: var(--theme-primary);
	--theme-light: var(--theme-primary-light);
	--theme-text: var(--theme-primary-text);
	--theme-border: var(--theme-primary-border);
	--theme-border-subtle: var(--theme-primary-border-subtle);
	--theme-shadow: var(--theme-primary-shadow);
	--theme-shadow-subtle: var(--theme-primary-shadow-subtle);
}

.danger {
	--theme-dark: var(--theme-danger-dark);
	--theme: var(--theme-danger);
	--theme-light: var(--theme-danger-light);
	--theme-text: var(--theme-danger-text);
	--theme-border: var(--theme-danger-border);
	--theme-border-subtle: var(--theme-danger-border-subtle);
	--theme-shadow: var(--theme-danger-shadow);
	--theme-shadow-subtle: var(--theme-danger-shadow-subtle);
}

.success {
	--theme-dark: var(--theme-success-dark);
	--theme: var(--theme-success);
	--theme-light: var(--theme-success-light);
	--theme-text: var(--theme-success-text);
	--theme-border: var(--theme-success-border);
	--theme-border-subtle: var(--theme-success-border-subtle);
	--theme-shadow: var(--theme-success-shadow);
	--theme-shadow-subtle: var(--theme-success-shadow-subtle);
}
/* THEMES */

* {
	flex-shrink: 0;

	color: inherit;
	font-family: inherit;

	box-sizing: border-box;

	-webkit-appearance: none;
	appearance: none;

	cursor: inherit;
	caret-color: inherit;
	pointer-events: inherit;
	outline: none;

	scrollbar-color: inherit;

	-webkit-user-select: inherit;
	user-select: inherit;

	-webkit-tap-highlight-color: transparent;
}

body {
	position: relative;

	background: var(--background);

	color: var(--text);
	font-family: var(--font-family);

	cursor: default;

	-webkit-user-select: none;
	user-select: none;

	margin: 0;
	padding: 0;

	overflow: hidden;
}

noscript,
#orientation-lock,
#fatal-error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: var(--background);

	color: var(--text);
	text-align: center;

	padding: var(--margin-xxl);

	z-index: 1000;
}

noscript span,
#orientation-lock span,
#fatal-error span {
	max-width: max(50rem, 95%);

	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.6;
}

@media (orientation: landscape) {
	#orientation-lock {
		display: none;
	}
}

.hidden {
	display: none !important;
}