rules_version = "2";

service cloud.firestore {
	match /databases/{database}/documents {
		match /events/{allPaths=**} {
			allow read: if true;
		}

		match /news/{allPaths=**} {
			allow read: if true;
		}

		match /projects/{allPaths=**} {
			allow read: if true;
		}

		match /{allPaths=**} {
			allow read, write: if false;
		}
	}
}