rules_version = "2";

service firebase.storage {
	match /b/{bucket}/o {
		function getUserPermissions() {
			return firestore.get(/databases/(default)/documents/users/$(request.auth.uid)/permissions/storage).data;
		}

		function hasRole(role) {
			return request.auth != null && role in request.auth.token && request.auth.token[role] == true;
		}

		function can(action) {
			return request.auth != null && getPath() in getUserPermissions()[action];
		}

		function getPath() {
			return request.resource != null ? request.resource.name : (resource != null ? resource.name : "");
		}

		match /knowledge/private/{privatePath=**} {
			allow read: if request.auth != null && (hasRole("admin") || can("read"));
			allow write: if request.auth != null && (hasRole("admin") || can("write"));
		}

		match /knowledge/{filePath=**} {
			allow read: if !getPath().matches("^knowledge/private/.*");
			allow write: if request.auth != null && (hasRole("admin") || hasRole("editor") || can("write"));
		}
	}
}