@import url("/lib/main.css");

body {
	--extra-header-size: 2.5rem;
}

#leaderboard {
	display: flex;
	flex-direction: column;

	width: min(95%, 30rem);

	border: var(--border-m) solid var(--border-subtle);
	border-radius: var(--border-radius-l);

	margin: auto;
	padding: var(--margin-xs);
}

#leaderboard .member {
	display: grid;
	grid-template-columns: 2rem 2em auto 3rem 3rem;
	grid-template-rows: 2rem auto;
	column-gap: 0.5rem;

	cursor: pointer;

	padding: 0 var(--margin-s);
}

#leaderboard .member .rank,
#leaderboard .member .delta,
#leaderboard .member .name,
#leaderboard .member .delta-value,
#leaderboard .member .value {
	display: block;

	width: 100%;

	white-space: nowrap;

	margin: auto;

	overflow: hidden;
}

#leaderboard .member .rank,
#leaderboard .member .delta {
	text-align: right;
}

#leaderboard .member .rank {
	grid-row: 1;
	grid-column: 1;
}

#leaderboard .member .delta {
	grid-row: 1;
	grid-column: 2;

	font-size: small;
}

#leaderboard .member .pos {
	color: hsl(150, 100%, 30%);
}

#leaderboard .member .neg {
	color: hsl(0, 100%, 30%);
}

#leaderboard .member .name {
	grid-row: 1;
	grid-column: 3;

	color: var(--text-muted);

	text-overflow: ellipsis;
}

@media (prefers-color-scheme: dark) {
	#leaderboard .member .pos {
		color: hsl(150, 50%, 75%);
	}

	#leaderboard .member .neg {
		color: hsl(0, 50%, 75%);
	}
}

#leaderboard .member .delta-value {
	grid-row: 1;
	grid-column: 4;

	font-size: small;

	text-align: right;
}

#leaderboard .member .value {
	grid-row: 1;
	grid-column: 5;

	text-align: right;
}

#leaderboard .member .details {
	grid-row: 2;
	grid-column: 1 / 6;

	height: 0;

	overflow: hidden;
}

#leaderboard .member.open .details {
	height: 10rem;
}