---
layout: main.njk
title: Status | Wixonic
description: Stay informed about any ongoing issues affecting Wixonic's systems.
---

<header>

	{% include "header.njk" %}

</header>

<main>

	<h1>Status</h1>

	<p>This website is currently under construction, so most systems are probably down. Come back later!</p>

</main>

<footer>

	{% include "footer.njk" %}

</footer>