---
layout: main.njk
styles:
- https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css
- https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.min.css
scripts:
- https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js
- https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.min.js
- /script/firebase.js
---

<header>

	Header

</header>

<main>

	{{ content | safe }}

</main>

{% include "footer.njk" %}