<!DOCTYPE html>

<html lang="en-US">

	<head>

		<title>{{ (title or "Wixonic") | escape }}</title>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

		<meta name="author" content="Wixonic, contact@wixonic.fr" />
		<meta name="description" content="{{ (description or '') | escape }}" />
		<meta name="robots" content="index,follow" />

		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:title" content="{{ (title or 'Wixonic') | escape }}" />
		<meta property="og:description" content="{{ (description or '') | escape }}" />
		<meta property="og:url" content="{{ (url or path.root) | escape }}" />

		<meta rel="canonical" href="{{ (canonical or url or path.root) | escape }}" />

		<link rel="icon" sizes="16x16 32x32 48x48 64x64 256x256" href="{{ path.assets }}/raw/icon/logo/default.ico" />
		<link rel="apple-touch-icon-precomposed" href="{{ path.assets }}/raw/icon/logo/min.webp">

		{% if image %}
		<meta property="og:image" content="{{ image | escape }}" />
		{% endif %}

		{% if audio %}
		<meta property="og:audio" content="{{ audio | escape }}" />
		{% endif %}

		{% if video %}
		<meta property="og:video" content="{{ video | escape }}" />
		{% endif %}

		<script>
			window.path = {{ path | json | safe }};
		</script>

		<link rel="stylesheet" href="/main.css" />
		<script defer type="module" src="/main.js"></script>

		{% if styles %}
		{% for style in styles %}
		<link rel="stylesheet" href="{{ style | escape }}" />
		{% endfor %}
		{% endif %}

		{% if scripts %}
		{% for script in scripts %}
		<script defer type="module" src="{{ script | escape }}"></script>
		{% endfor %}
		{% endif %}

	</head>

	<body>

		<noscript>

			<p>
				This website relies heavily on JavaScript to render complex animations and interactive
				content.<br />
				Please enable JavaScript in your browser settings to access the site.
			</p>

		</noscript>

		<div id="fatal-error" class="hidden">

			<p>
				The site has encountered an unexpected error and is temporarily unavailable.<br /><br />
				We are aware of the issue. Please
			</p>

		</div>

		{{ content | safe }}

	</body>

</html>